bintray-tidy.sh
bintray.sh
debian/changelog_new
debian/curl.debhelper.log
debian/curl.substvars
debian/curl
debian/files
debian/libcurl-gnutls3.debhelper.log
debian/libcurl-gnutls3.substvars
debian/libcurl-gnutls3/
debian/libcurl-nss3.debhelper.log
debian/libcurl-nss3.substvars
debian/libcurl-nss3/
debian/libcurl3.debhelper.log
debian/libcurl3.postinst.debhelper
debian/libcurl3.postrm.debhelper
debian/libcurl3.substvars
debian/libcurl3/
*.b64
*.bz2
*.gz
*.xz
.env
files/
tmp/
curl_versions
